@model IEnumerable<Course>

<script>
    function applyGradientColors() {
        const courseCardImages = document.querySelectorAll('.course_card_image');
        courseCardImages.forEach((element, index) => {
            const gradientIndex = Math.floor(index % 6) + 1;
            element.classList.add('gradient-' + gradientIndex);
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        applyGradientColors();
    });
</script>

<div class="tabs__wrapper">
    <ul class="tabs__container__between">
        <li class="ns-tabs--tab">
            <a class="ns-tab--item ns-tab--item-active"> Courses </a>
        </li>
    </ul>
</div>

<div class="items_grid">

    @foreach (var item in Model)
    {
        <div class="course_card" id="item_@item.Id">
            <div class="course_card_content">
                <a title="EU9-Java Programming" href="#">
                    <div class="course_card_image" style="--aspect-ratio: 16/9;">
                        <div class="course_card_image_title">
                            @item.Title
                        </div>
                    </div>
                </a>
                <div class="course_card_text">
                    <div class="course_card_top">
                        <a class="course_card_title" title="@item.CourseCode-@item.Title" href="/Student/Courses/Single/@item.Id"> @item.CourseCode-@item.Title</a>
                    </div>
                    <div class="course_card_bottom">
                        <div class="course_modules_info">
                            <div class="course_modules_info_inner">
                                <div>
                                    <i class="fa-solid fa-shapes align-middle mr-2"></i>
                                    @item.Modules.Count() modules

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>