@model FeatureCreateVm

<div class="loader-container">
    <div class="loader"></div>
</div>

<div class="widget-content multistep-form">
    <fieldset class="field-card">
        <form method="post" enctype="multipart/form-data" onsubmit="activateLoading()">
            <div class="add-course-info">
                <div class="add-course-inner-header">
                    <h4>Add Feature</h4>
                </div>
                <div class="add-course-form">
                    <div class="input-block">
                        <label class="add-course-label" asp-for="Title"></label>
                        <textarea type="text" class="form-control" asp-for="Title"> </textarea>
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>
                    <div class="input-block">
                        <label class="add-course-label" asp-for="TitleRu"></label>
                        <textarea type="text" class="form-control" asp-for="TitleRu"> </textarea>
                        <span class="text-danger" asp-validation-for="TitleRu"></span>
                    </div>
                    <div class="input-block">
                        <label class="add-course-label" asp-for="TitleTr"></label>
                        <textarea type="text" class="form-control" asp-for="TitleTr"> </textarea>
                        <span class="text-danger" asp-validation-for="TitleTr"></span>
                    </div>
                    <div class="input-block">
                        <label class="add-course-label" asp-for="Icon"></label>
                        <input type="text" class="form-control" asp-for="Icon" type="file" accept="image/png">
                        <span class="text-danger" asp-validation-for="Icon"></span>
                    </div>

                    <div class="widget-btn">
                        <button class="btn btn-info-light next_btn" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
</div>

