@model PaginationVm<IEnumerable<Feature>>

@section Scripts {
    @if (TempData["Created"] != null && (bool)TempData["Created"] == true)
    {
        <script>
            Command: toastr["success"]("Feature has been created.");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        </script>
    }

    @if (TempData["Updated"] != null && (bool)TempData["Updated"] == true)
    {

        <script>
            Command: toastr["success"]("Feature has been updated.");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        </script>
    }

    @if (TempData["FeatureOversized"] != null && (bool)TempData["FeatureOversized"] == true)
    {

        <script>
            Command: toastr["warning"]("Feature oversized.");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        </script>
    }
}

<script>

    function filterSearch() {
        const featureName = document.getElementById('cateogry-name-input').value;

        $.ajax({
            type: "POST",
            url: "/Admin/Feature/FeaturesPartial",
            data: {
                searchFilter: featureName
            },
            success: (data) => {
                $('#featuresContainer').html(data);
                localStorage.setItem("featureName", featureName);
            }
        });
    }

</script>

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<body>
    <div class="main-content">
        <div class="container mt-7">
            <!-- Table -->
            <ul class="tabs__container__between mb-5">
                <li class="ns-tabs--tab">
                    <h2 class="ns-tab--item ns-tab--item-active "> Features </h2>
                </li>
                <li class="ns-tabs--tab">
                    <a class="ns-tab--item ns-tab--item--button" href="/Admin/Feature/Create"> + Add Feature </a>
                </li>
            </ul>
        </div>
        <div class="row">

            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row">
                            <div class="col-6">
                                <div class="add-course-info">
                                    <div class="input-block">
                                        <input type="text" class="form-control" placeholder="Feature Name"
                                               id="cateogry-name-input" oninput="filterSearch()">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="featuresContainer">
                        <partial name="FeaturesPartial" model="@Model">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
