@model CoursesVm

@if (Model.Courses != null)
{
    @foreach (var course in Model.Courses)
    {
        <div role="listitem" class="courses-item w-dyn-item">
            <div class="courses-card">
                <a href="/courses/single/@course..Id" class="courses-image-link w-inline-block">
                    <div class="courses-image-wrapper">

                        <img src="@Model.BaseUrl/@course.Template.CourseImagePathOrContainer/@course.Template.CourseImageName" loading="lazy" alt="@course.Template.CourseImageName" sizes="(max-width: 479px) 100vw, (max-width: 767px) 83vw, (max-width: 991px) 39vw, 25vw" class="courses-image" />


                    </div>
                </a>
                <div class="courses-item-content">
                    <div class="courses-item-content-top">
                        <a href="/courses/single/@course.Id" class="courses-title-link w-inline-block">
                            <h3 class="heading-style-h5">@course.Title</h3>
                        </a>
                        <div class="text-size-regular">@(course.Template.Description.Length > 150 ? $"{course.Template.Description.Substring(0, 150)}..." : course.Template.Description)</div>
                    </div>
                    <div class="course-content-bottom">
                        <div></div>
                        <div>
                            <a href="/courses/single/@course.Id" class="button is-secondary w-button">View Course</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
