@model IEnumerable<Module>

<div class="search-results-container">
    <h5 class="title-results">Search results for courses <span>"@(Context.Request.Query["content"])"</span></h5>
    <hr>
    @if (Model != null && Model.Count() > 0)
    {
        <div class="grid-search-results-nest">
            @foreach (var module in Model)
            {
                <a class="card-result_nest ng-star-inserted">
                    <div class="card-search-single">
                        <div class="top-card">
                            <div class="icon course ng-star-inserted">
                                <i class="fa-solid fa-layer-group align-middle"></i>
                                <!----><!---->
                            </div>
                            <!---->
                        </div>
                        <div class="info-search-card-single">
                            <a href="/admin/modules/index/@module.Id"><h3 class="info-search-title general-link">@module.Title</h3></a>
                            <ul class="pl-0">
                                <li class="info-search-desc ng-star-inserted">Course: <strong>@module.Course.Title</strong></li>
                            </ul>
                            <!---->
                        </div>
                    </div>
                </a>
            }
        </div>
    }
</div>