@model CorporateListVm

@section Scripts {
    @if (TempData["CorporateEdited"] != null && (bool)TempData["CorporateEdited"] == true)
    {
        <script>
            Command: toastr["success"]("Corporate has been updated.");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        </script>
    }
}

<script>

    function filterSearch() {
        const corporateName = document.getElementById('corporate-name-input').value;

        $.ajax({
            type: "POST",
            url: "/Admin/Corporates/CorporatesPartial",
            data: {
                searchFilter: corporateName
            },
            success: (data) => {
                $('#corporatesContainer').html(data);
                localStorage.setItem("corporateName", corporateName);
            }
        });
    }

</script>

<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

<body>
    <div class="main-content">
        <div class="container mt-7">
            <!-- Table -->
            <ul class="tabs__container__between mb-5">
                <li class="ns-tabs--tab">
                    <h2 class="ns-tab--item ns-tab--item-active "> Corporates </h2>
                </li>
            </ul>
        </div>
        <div class="row">

            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row">
                            <div class="col-6">
                                <div class="add-course-info">
                                    <div class="input-block">
                                        <input type="text" class="form-control" placeholder="Search for corporation..."
                                               id="corporate-name-input" oninput="filterSearch()">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="corporatesContainer">
                        <partial name="CorporatesPartial" model="@Model">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
