@model CorporateSendVm

@section Scripts{
    @if (TempData["CorporateSent"] != null && (bool)TempData["CorporateSent"] == true)
    {
        <script>
            Swal.fire({
                icon: "success",
                title: "Thank you! Your submission has been received!",
                showConfirmButton: false,
                timer: 3000
            });
        </script>
    }

}

<section class="section-hero">
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-section-large">
                <div class="hero-component">
                    <h1 data-w-id="a9ae2ce4-acd5-b5c6-7cd1-7d29e52438cd" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">Corporate With Us&nbsp;&nbsp;</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="shape"></div>
    <div class="shape is-right"></div>
    <div class="shape is-center"></div>
</section>

<section class="section-contact" id="contactus">
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-section-large">
                <div class="w-layout-grid contact-component">
                    <div data-w-id="f198a4eb-b131-c678-7447-03825147d745" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="contact-content">
                        <h2 class="heading-style-h3">Corporate With Us</h2>
                        <div class="padding-bottom padding-small"></div>
                        <p class="text-size-medium">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                        <div class="padding-bottom padding-medium"></div>

                    </div>
                    <div id="Contact-Form-Block" data-w-id="f198a4eb-b131-c678-7447-03825147d75f" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="contact-form-block w-form">
                        <form method="post" class="contact-form">
                            <div class="form-field-content">
                                <div class="form-field-wrapper">
                                    <label class="field-label" asp-for="FirstName"></label>
                                    <input class="contact-form-input w-input" asp-for="FirstName" placeholder="Firstname..." type="text">
                                    <span class="text-danger" asp-validation-for="FirstName"></span>
                                </div>
                                <div class="form-field-wrapper">
                                    <label class="field-label" asp-for="LastName"></label>
                                    <input class="contact-form-input w-input" asp-for="LastName" placeholder="LastName..." type="text">
                                    <span class="text-danger" asp-validation-for="LastName"></span>
                                </div>
                            </div>
                            <div class="form-field-content">
                                <div class="form-field-wrapper">
                                    <label class="field-label" asp-for="Email"></label>
                                    <input class="contact-form-input w-input" asp-for="Email" placeholder="Email..." type="email">
                                    <span class="text-danger" asp-validation-for="Email"></span>
                                </div>
                                <div class="form-field-wrapper">
                                    <label class="field-label" asp-for="PhoneNumber"></label>
                                    <input class="contact-form-input w-input" asp-for="PhoneNumber" placeholder="PhoneNumber..." type="tel">
                                    <span class="text-danger" asp-validation-for="PhoneNumber"></span>
                                </div>
                            </div>
                            <div class="form-field-content">
                                <div class="form-field-wrapper">
                                    <label class="field-label" asp-for="WorkingCompany"></label>
                                    <input class="contact-form-input w-input" asp-for="WorkingCompany" placeholder="WorkingCompany..." type="text">
                                    <span class="text-danger" asp-validation-for="WorkingCompany"></span>
                                </div>
                                <div class="form-field-wrapper">
                                    <label class="field-label" asp-for="Occupation"></label>
                                    <input class="contact-form-input w-input" asp-for="Occupation" placeholder="Occupation..." type="text">
                                    <span class="text-danger" asp-validation-for="Occupation"></span>
                                </div>
                            </div>
                            <div class="form-field-wrapper">
                                <label  class="field-label" asp-for="AdditionalInfo"></label>
                                <textarea placeholder="Type your message..." class="contact-form-input is-text-area w-input" asp-for="AdditionalInfo"></textarea>
                            </div>

                            <input type="submit" data-wait="Please wait..." id="w-node-f198a4eb-b131-c678-7447-03825147d7a0-0cfe0d80" class="button w-button" value="Corporate">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>