<section class="section-hero">
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-section-large">
                <div class="hero-component">
                    <h1 data-w-id="a9ae2ce4-acd5-b5c6-7cd1-7d29e52438cd" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">Corporate With Us&nbsp;&nbsp;</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="shape"></div>
    <div class="shape is-right"></div>
    <div class="shape is-center"></div>
</section>

<section class="section-contact" id="contactus">
    <div class="padding-global">
        <div class="container-large">
            <div class="padding-section-large">
                <div class="w-layout-grid contact-component">
                    <div data-w-id="f198a4eb-b131-c678-7447-03825147d745" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="contact-content">
                        <h2 class="heading-style-h3">Corporate With Us</h2>
                        <div class="padding-bottom padding-small"></div>
                        <p class="text-size-medium">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
                        <div class="padding-bottom padding-medium"></div>

                    </div>
                    <div id="Contact-Form-Block" data-w-id="f198a4eb-b131-c678-7447-03825147d75f" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" class="contact-form-block w-form">
                        <form id="Contact-Form" name="wf-form-Contact-Form" data-name="Contact Form" method="get" class="contact-form" data-wf-page-id="63f85e5879955cd30cfe0d80" data-wf-element-id="f198a4eb-b131-c678-7447-03825147d760" aria-label="Contact Form">
                            <div class="form-field-content">
                                <div class="form-field-wrapper">
                                    <label for="Contact-First-Name" class="field-label">First name</label>
                                    <input class="contact-form-input w-input" maxlength="256" name="Contact-First-Name" data-name="Contact First Name" placeholder="John" type="text" id="Contact-First-Name" required="">
                                </div>
                                <div class="form-field-wrapper">
                                    <label for="Contact-Last-Name" class="field-label">Last name</label>
                                    <input class="contact-form-input w-input" maxlength="256" name="Contact-Last-Name" data-name="Contact Last Name" placeholder="Doe" type="text" id="Contact-Last-Name" required="">
                                </div>
                            </div>
                            <div class="form-field-content">
                                <div class="form-field-wrapper">
                                    <label for="Contact-Phone" class="field-label">Phone number</label>
                                    <input class="contact-form-input w-input" maxlength="256" name="Contact-Phone" data-name="Contact Phone" placeholder="+88 (005) 000-0000" type="tel" id="Contact-Phone" required="">
                                </div>
                            </div>
                            <div class="form-field-content">
                                <div class="form-field-wrapper">
                                    <label for="Contact-First-Name" class="field-label">Working Company</label>
                                    <input class="contact-form-input w-input" maxlength="256" name="Contact-First-Name" data-name="Contact First Name" placeholder="John" type="text" id="Contact-First-Name" required="">
                                </div>
                                <div class="form-field-wrapper">
                                    <label for="Contact-Last-Name" class="field-label">Occupation</label>
                                    <input class="contact-form-input w-input" maxlength="256" name="Contact-Last-Name" data-name="Contact Last Name" placeholder="Doe" type="text" id="Contact-Last-Name" required="">
                                </div>
                            </div>
                            <div class="form-field-wrapper">
                                <label for="Contact-Message" class="field-label">Additional Info</label>
                                <textarea id="Contact-Message" name="Contact-Message" maxlength="5000" data-name="Contact Message" placeholder="Type your message..." required="" class="contact-form-input is-text-area w-input"></textarea>
                            </div>

                            <input type="submit" data-wait="Please wait..." id="w-node-f198a4eb-b131-c678-7447-03825147d7a0-0cfe0d80" class="button w-button" value="Corporate">
                        </form>
                        <div class="success-message w-form-done" tabindex="-1" role="region" aria-label="Contact Form success">
                            <div class="success-text">Thank you! Your submission has been received!</div>
                        </div>
                        <div class="error-message w-form-fail" tabindex="-1" role="region" aria-label="Contact Form failure">
                            <div class="error-text">Oops! Something went wrong while submitting the form.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>