@model LectureFileCreateVm

@section Scripts{
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
}

<div class="loader-container">
    <div class="loader"></div>
</div>


<div class="tabs__wrapper">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="video-tab" data-toggle="tab" href="#video" role="tab" aria-controls="video" aria-selected="true">Video</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="url-tab" data-toggle="tab" href="#url" role="tab" aria-controls="url" aria-selected="true">Url</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="txt-tab" data-toggle="tab" href="#txt" role="tab" aria-controls="txt" aria-selected="true">Text</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" id="pdf-tab" data-toggle="tab" href="#pdf" role="tab" aria-controls="pdf" aria-selected="true">PDF</a>
        </li>
    </ul>
</div>

<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active " id="video" role="tabpanel" aria-labelledby="video-tab">

        <form method="post" action="/Instructor/Lectures/AddFile" enctype="multipart/form-data" onsubmit="activateLoading()">
            <fieldset class="field-card">
                <div class="add-course-info">
                    <div class="add-course-inner-header">
                        <h4>Lecture Video</h4>
                    </div>
                    <div class="add-course-form">
                        <input hidden asp-for="LectureId">
                        <input hidden asp-for="ModuleId">
                        <input hidden asp-for="FileType" value="@(FileType.MP4)">

                        <div class="input-block">
                            <label class="add-course-label" id="title" asp-for="Title"></label>
                            <input type="text" class="form-control" placeholder="Video Title..." asp-for="Title">
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>

                        <div class="input-block mt-5">
                            <label class="add-course-label">Lecture Video</label>
                            <div class="relative-form" id="relativeVideoForm">
                                <span>No File Selected</span>
                                <label class="relative-file-upload">
                                    Upload File <input type="file" accept="video/*" id="lecture-video-input" asp-for="File">
                                </label>
                            </div>
                            <span class="text-danger" asp-validation-for="File"></span>
                        </div>

                        <div class="input-block" id="videoBox">
                            <div class="add-image-box add-video-box">
                                <a href="javascript:void(0);">
                                    <i class="fas fa-circle-play"></i>
                                </a>
                            </div>
                        </div>

                    </div>
                    <div class="widget-btn">
                        <button class="btn btn-info-light" type="submit">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>


    </div>
    <div class="tab-pane fade" id="url" role="tabpanel" aria-labelledby="url-tab">
        <form method="post" action="/Instructor/Lectures/AddFile" enctype="multipart/form-data">
            <fieldset class="field-card">
                <div class="add-course-info">
                    <div class="add-course-inner-header">
                        <h4>Lecture Url Link</h4>
                    </div>
                    <div class="add-course-form">

                        <input hidden asp-for="LectureId">
                        <input hidden asp-for="ModuleId">
                        <input hidden asp-for="FileType" value="@(FileType.URL)">

                        <div class="input-block">
                            <label class="add-course-label" asp-for="Title"></label>
                            <input type="text" class="form-control" placeholder="Url Title..." asp-for="Title">
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>

                        <div class="input-block">
                            <label class="add-course-label" asp-for="Url"></label>
                            <input type="url" class="form-control" placeholder="Url..." asp-for="Url">
                            <span class="text-danger" asp-validation-for="Url"></span>
                        </div>

                    </div>
                    <div class="widget-btn">
                        <button class="btn btn-info-light" type="submit">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="tab-pane fade" id="txt" role="tabpanel" aria-labelledby="txt-tab">

        <form method="post" action="/Instructor/Lectures/AddFile" enctype="multipart/form-data">
            <fieldset class="field-card">
                <div class="add-course-info">
                    <div class="add-course-inner-header">
                        <h4>Lecture Text File</h4>
                    </div>
                    <div class="add-course-form">

                        <input hidden asp-for="LectureId">
                        <input hidden asp-for="ModuleId">
                        <input hidden asp-for="FileType" value="@(FileType.TXT)">

                        <div class="input-block">
                            <label class="add-course-label" asp-for="Title"></label>
                            <input type="text" class="form-control" placeholder="File Title..." asp-for="Title">
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>

                        <div class="input-block mt-5">
                            <label class="add-course-label">Lecture Text File</label>
                            <div class="relative-form" id="relativeTxtForm">
                                <span>No File Selected</span>
                                <label class="relative-file-upload">
                                    Upload File <input type="file" accept="text/*" id="lecture-txt-input" asp-for="File">
                                </label>
                            </div>
                            <span class="text-danger" asp-validation-for="File"></span>

                        </div>

                    </div>
                    <div class="widget-btn">
                        <button class="btn btn-info-light" type="submit">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="tab-pane fade" id="pdf" role="tabpanel" aria-labelledby="pdf-tab">
        <form method="post" action="/Instructor/Lectures/AddFile" enctype="multipart/form-data">
            <fieldset class="field-card">
                <div class="add-course-info">
                    <div class="add-course-inner-header">
                        <h4>Lecture PDF File</h4>
                    </div>
                    <div class="add-course-form">

                        <input hidden asp-for="LectureId">
                        <input hidden asp-for="ModuleId">
                        <input hidden asp-for="FileType" value="@(FileType.PDF)">

                        <div class="input-block">
                            <label class="add-course-label" asp-for="Title"></label>
                            <input type="text" class="form-control" placeholder="File Title..." asp-for="Title">
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>

                        <div class="input-block mt-5">
                            <label class="add-course-label">Lecture PDF File</label>
                            <div class="relative-form" id="relativePdfForm">
                                <span>No File Selected</span>
                                <label class="relative-file-upload">
                                    Upload File <input type="file" accept="application/pdf" id="lecture-pdf-input" asp-for="File">
                                </label>
                            </div>
                            <span class="text-danger" asp-validation-for="File"></span>
                        </div>

                    </div>
                    <div class="widget-btn">
                        <button class="btn btn-info-light" type="submit">Submit</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<script>


    function activateLoading() {
        const loader = document.querySelector('.loader-container');
        loader.classList.add('active');
    }

    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById('lecture-video-input').addEventListener('change', () => {
            const files = document.getElementById('lecture-video-input').files;
            if (files.length > 0) {
                document.querySelector('#relativeVideoForm span').textContent = files[0].name;

                const video = document.createElement('video');
                video.controls = true;
                video.src = URL.createObjectURL(files[0]);
                video.classList.add('add-image-box', 'add-video-box');
                const videoBox = document.getElementById('videoBox');
                videoBox.removeChild(videoBox.firstElementChild);
                videoBox.appendChild(video);
            }
        });

        document.getElementById('lecture-txt-input').addEventListener('change', () => {
            const files = document.getElementById('lecture-txt-input').files;
            if (files.length > 0){
                document.querySelector('#relativeTxtForm span').textContent = files[0].name;
            }
        });

        document.getElementById('lecture-pdf-input').addEventListener('change', () => {
            const files = document.getElementById('lecture-pdf-input').files;
            if (files.length > 0) {
                document.querySelector('#relativePdfForm span').textContent = files[0].name;
            }
        });
    });
</script>