@model LectureUpdateVm

@section Scripts{
    @if (TempData["LectureUpdatedSuccess"] != null && (bool)TempData["LectureUpdatedSuccess"] == true)
    {
        <script>
            Command: toastr["success"]("Lecture has been updated.");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-bottom-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        </script>
    }
}

<div class="widget-content multistep-form">
    <fieldset class="field-card">
        <form method="post">
            <input hidden asp-for="LectureId">
            <div class="add-course-info">
                <div class="add-course-inner-header">
                    <h4>Add Lecture</h4>
                </div>
                <div class="add-course-form">
                    <div class="input-block">
                        <label class="add-course-label" asp-for="Title"></label>
                        <input type="text" class="form-control" asp-for="Title">
                        <span class="text-danger" asp-validation-for="Title"></span>
                    </div>

                    <div class="widget-btn">
                        <button class="btn btn-info-light next_btn" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
</div>