@model CategoryCreateVm

<div class="loader-container">
    <div class="loader"></div>
</div>

<div class="widget-content multistep-form">
    <fieldset class="field-card">
        <form method="post" onsubmit="activateLoading()">
            <div class="add-course-info">
                <div class="add-course-inner-header">
                    <h4>Add Cateogry</h4>
                </div>
                <div class="add-course-form">
                    <div class="input-block">
                        <label class="add-course-label" asp-for="CategoryName"></label>
                        <input type="text" class="form-control" asp-for="CategoryName">
                        <span class="text-danger" asp-validation-for="CategoryName"></span>
                    </div>

                    <div class="widget-btn">
                        <button class="btn btn-info-light next_btn" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
</div>

