@using CodinaxProjectMvc.DataAccess.Abstract.Repositories
@inject IReadRepository<Student> _studentReadRepository

<!DOCTYPE html>
<html lang="en">

@{
    var isCoursesPage = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower() == "courses";
    var isEventsPage = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower() == "events";
    var isBookmarksPage = ViewContext.RouteData.Values["controller"]?.ToString()?.ToLower() == "bookmarks";
}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>Codinax Student Panel</title>


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/Assets/panel/assets/css/bootstrap.min.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="/Assets/panel/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/Assets/panel/assets/plugins/fontawesome/css/all.min.css">

    <!-- Loader CSS -->
    <link rel="stylesheet" href="/Assets/panel/assets/css/loader.css">

    <!-- Toastr CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css"
          crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Main CSS -->
    <link href="~/assets/panel/assets/css/playerpage.css" rel="stylesheet" />

    @await RenderSectionAsync("Styles", required: false)

</head>

<body>
    <div class="container-view">
        <main class="main_container main_content_video_player">
            <div class="main_content main_content_video_player">
                <div class="main_wrapper">
                    @RenderBody()
                </div>
            </div>
        </main>
    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"
            integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Ckeditor JS -->
    <script src="/Assets/panel/assets/js/ckeditor.js"></script>


    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>