<section class="section-hero">
    <div class="padding-global" bis_skin_checked="1">
        <div class="container-large" bis_skin_checked="1">
            <div class="padding-section-large" bis_skin_checked="1">
                <div class="hero-component" bis_skin_checked="1">
                    <h1 data-w-id="a9ae2ce4-acd5-b5c6-7cd1-7d29e52438cd" style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">Access Denied</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="shape" bis_skin_checked="1"></div>
    <div class="shape is-right" bis_skin_checked="1"></div>
    <div class="shape is-center" bis_skin_checked="1"></div>
</section>

<div class="utility-page-component" bis_skin_checked="1">
    <div class="password-shape" bis_skin_checked="1"></div>
    <div class="utility-page-wrapper w-password-page w-form" bis_skin_checked="1">
        <form action="/.wf_auth" method="post" id="email-form" name="email-form" data-name="Email Form" class="utility-page-form w-password-page" aria-label="Email Form">
            <img width="100" src="https://assets.website-files.com/63edcc04ea8777a0bc4eed69/63f86bc7a3a6192e9af1c5f9_Frame%20(3).webp" alt="" class="utility-page-image">
            <h2 class="heading-style-h3">Access Denied</h2>
        </form>
    </div>
</div>