<div class="section-courses is-single" id="course-content">
    <div class="padding-global" bis_skin_checked="1">
        <div class="container-large pb-4" bis_skin_checked="1">
            <div class="text-rich-text w-richtext" bis_skin_checked="1">
                <h2>Privacy And Policy</h2>
                <br>
                <p> &nbsp;&nbsp;&nbsp;&nbsp;
                    At Codinax Academy, we understand the importance of protecting your privacy. This Privacy Policy outlines how we collect, use, and share the personal information that you provide to us when using our website <a href="https://codinax.com/">www.codinax.com</a>.
                </p>
                <br>
                <br>

                <h3>Information We Collect</h3>

                <ul>
                    <li>
                        <strong>Registration Information: </strong>
                        When you register for our courses, we collect personal details such as your full name, surname, email address, phone number, country of birth, and country of residence. This information is necessary to process your course enrollment and to communicate with you regarding your courses.

                    </li>
                    <li>
                        <strong>Newsletter Subscription: </strong>
                        If you choose to subscribe to our newsletter, we collect your email address. By subscribing, you consent to receive updates, news, and promotional materials related to our courses.

                    </li>
                </ul>

                <h3>How We Use Information</h3>

                <ul>
                    <li>
                        <strong>Course Registration: </strong>
                        The information collected during registration is used to manage your course enrollment and to provide you with access to course materials and updates. We may also use this information to communicate with you about course-related matters, such as schedule changes or additional resources.

                    </li>
                    <li>
                        <strong>Newsletter:  </strong>
                        Email addresses collected for newsletter subscriptions are used to send periodic updates about our courses, including new offerings, special promotions, and educational content. You can opt out of receiving these emails at any time by following the instructions provided in the emails or by contacting us directly.

                    </li>
                </ul>

                <h3>Information Sharing</h3>

                <ul>
                    <li>
                        <strong>Third-Party Service Providers:  </strong>
                        We may engage trusted third-party service providers to assist us in delivering our services and managing our website. These service providers may have access to your personal information only to the extent necessary to perform their duties on our behalf and are obligated not to disclose or use it for any other purpose.

                    </li>
                    <li>
                        <strong>Legal Compliance: </strong>
                        We may disclose personal information when required to comply with applicable laws, regulations, legal processes, or governmental requests.

                    </li>
                </ul>

                <h3>Data Security</h3>

                <ul>
                    <li>
                        We are committed to safeguarding the security of your personal information and have implemented industry-standard measures to protect against unauthorized access, alteration, disclosure, or destruction of data. However, please be aware that no method of transmission over the internet or electronic storage is completely secure, and we cannot guarantee absolute security.
                    </li>
                </ul>


                <h3>Security of Your Personal Data</h3>

                <ul>
                    <li>
                        We prioritize the security of your personal data. However, it's important to note that no method of transmitting data over the internet or storing it electronically is completely foolproof. Despite our efforts to employ commercially acceptable methods to safeguard your personal data, we cannot guarantee its absolute security.
                    </li>
                </ul>

                <h3>
                    Children's Privacy
                </h3>

                <ul>
                    <li>
                        Our service is not intended for individuals under the age of 13, and we do not knowingly collect personally identifiable information from them. If you are a parent or guardian and discover that your child has provided us with personal data, please contact us. If we find that we have unintentionally collected personal data from anyone under 13 without parental consent, we will take necessary steps to remove it from our servers. In cases where consent is required for processing information according to your country's laws, if your country mandates parental consent, we may request consent from your parent before collecting and using the information.
                    </li>
                </ul>

                <h3>
                    Your Choices
                </h3>

                <ul>
                    <li>
                        You have the option to decline providing certain personal information, although this may limit your ability to access certain features of our website or participate in our courses.
                    </li>
                </ul>
                <ul>
                    <li>
                        If you no longer wish to receive our newsletter or promotional emails, you can unsubscribe by following the instructions provided in the emails or by contacting us directly.
                    </li>
                </ul>

                <h3>
                    Links to Other Websites
                </h3>

                <ul>
                    <li>
                        Our service may include links to websites operated by third parties that are not under our control. If you choose to click on a link leading to a third-party website, you will be redirected to that website. We highly recommend reviewing the privacy policy of each website you visit.
                    </li>
                </ul>
                <ul>
                    <li>
                        We want to emphasize that we do not have control over the content, privacy policies, or practices of these third-party websites or services, and we do not take responsibility for them.
                    </li>
                </ul>

                <h3>
                    Changes to this Policy
                </h3>

                <ul>
                    <li>
                        We reserve the right to update or modify this Privacy Policy at any time without prior notice. Any changes will be effective immediately upon posting the revised Privacy Policy on this page. We encourage you to review this Privacy Policy periodically to stay informed about how we are protecting your information.
                    </li>
                </ul>

                <h3>
                    Changes to this Policy
                </h3>

                <p> &nbsp;&nbsp;&nbsp;&nbsp;If you have any questions, concerns, or requests regarding this Privacy Policy or our handling of your personal information, please don't hesitate to contact us by email: info@codinax.com</p>

            </div>
        </div>
    </div>
</div>