<div class="section-courses is-single" id="course-content">
    <div class="padding-global" bis_skin_checked="1">
        <div class="container-large pb-4" bis_skin_checked="1">
            <div class="text-rich-text w-richtext" bis_skin_checked="1">
                <h2>Terms and Conditions</h2>
                <br>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp; These Terms and Conditions ("Terms") govern your use of Codinax Academy's website <a href="https://codinax.com/">www.codinax.com</a> (the "Service") operated by Codinax Academy ("us", "we", or "our").
                </p>
                
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp; Please read these Terms carefully before using the Service.
                </p>


                <h3>
                    1. Your Access to and Use of the Service
                </h3>

                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp; By accessing or using the Service, you agree to be bound by these Terms. If you disagree with any part of the terms, then you may not access the Service.
                </p>

                <h3>
                    2. User Obligations and Responsibilities
                </h3>

                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp; You agree to use the Service only for lawful purposes and in accordance with these Terms. You are responsible for ensuring that your use of the Service complies with all applicable laws and regulations.
                </p>

                <h3>3. Prohibited Activities</h3>

                <p> &nbsp;&nbsp;&nbsp;&nbsp; You agree not to engage in any of the following prohibited activities:</p>

                <ul>
                    <li>
                        Attempting to gain unauthorized access to the Service or its related systems or networks.
                    </li>
                    <li>
                        Interfering with or disrupting the operation of the Service or its servers or networks.
                    </li>
                    <li>
                        Transmitting any viruses, worms, or other harmful code through the Service.
                    </li>
                    <li>
                        Violating any applicable laws or regulations in connection with your use of the Service.
                    </li>

                </ul>

                <h3> 4. Content Usage and Intellectual Property Rights </h3>

                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp; The Service and its original content, features, and functionality are and will remain the exclusive property of Codinax Academy and its licensors. You may not use any of our trademarks or trade dress without our prior written consent.
                </p>

                <h3>5. Disclaimers of Warranties and Limitations of Liability</h3>

                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp; The Service is provided on an "as is" and "as available" basis, without any warranties of any kind, either express or implied. Codinax Academy does not warrant that the Service will be uninterrupted, secure, or error-free. In no event shall Codinax Academy be liable for any indirect, incidental, special, consequential, or punitive damages arising out of or relating to your use of the Service.
                </p>

                <h3>6. Governing Law and Dispute Resolution</h3>

                <p> &nbsp;&nbsp;&nbsp;&nbsp; These Terms shall be governed by and construed in accordance with the laws of Poland, without regard to its conflict of law principles. Any disputes arising out of or relating to these Terms or the Service shall be resolved exclusively by the courts of Warsaw, Poland.</p>

                <h3>7. Termination of Access to the Service</h3>
                
                <p> &nbsp;&nbsp;&nbsp;&nbsp; Codinax Academy reserves the right to terminate or suspend your access to the Service at any time, without prior notice or liability, for any reason whatsoever, including without limitation if you breach these Terms.</p>

                <h3>8. Modifications to the Terms</h3>

                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;Codinax Academy reserves the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material, we will provide at least 30 days' notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.
                </p>

                <h3>9. Privacy Policy Integration</h3>

                <p> &nbsp;&nbsp;&nbsp;&nbsp; By agreeing to these Terms, you also agree to our Privacy Policy available at [link to your Privacy Policy], which governs how we collect, use, and disclose your personal information.</p>

                <h3>10. Severability</h3>

                <p> &nbsp;&nbsp;&nbsp;&nbsp; If any provision of these Terms is found to be unenforceable or invalid, that provision shall be limited or eliminated to the minimum extent necessary so that these Terms shall otherwise remain in full force and effect.</p>

                <h3>Contact Us</h3>

                <p> &nbsp;&nbsp;&nbsp;&nbsp; If you have any questions about these Terms, please contact us at Codinax Academy.</p>
            </div>
        </div>
    </div>
</div>