@model SubscribeSendVm

<div class="widget-content multistep-form">
    <fieldset class="field-card">
        <form method="post">
            <div class="add-course-info">
                <div class="add-course-inner-header">
                    <h4>Add Cateogry</h4>
                </div>
                <div class="add-course-form">
                    <div class="input-block">
                        <label class="add-course-label" asp-for="Subject"></label>
                        <input type="text" class="form-control" asp-for="Subject">
                        <span class="text-danger" asp-validation-for="Subject"></span>
                    </div>

                    <div class="input-block">
                        <label class="add-course-label" asp-for="Content"></label>
                        <textarea class="form-control" asp-for="Content"></textarea>
                        <span class="text-danger" asp-validation-for="Content"></span>
                    </div>

                    <div class="widget-btn">
                        <button class="btn btn-info-light next_btn" type="submit">Submit</button>
                    </div>
                </div>
            </div>
        </form>
    </fieldset>
</div>

