<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>Codinax</title>

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="/Assets/panel/assets/css/bootstrap.min.css">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="/Assets/panel/assets/plugins/fontawesome/css/fontawesome.min.css">
	<link rel="stylesheet" href="/Assets/panel/assets/plugins/fontawesome/css/all.min.css">

	<!-- Owl Carousel CSS -->
	<link rel="stylesheet" href="/Assets/panel/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/Assets/panel/assets/css/owl.theme.default.min.css">

	<!-- Feathericon CSS -->
	<link rel="stylesheet" href="/Assets/panel/assets/plugins/feather/feather.css">

	<!-- Select2 CSS -->
	<link rel="stylesheet" href="/Assets/panel/assets/plugins/select2/css/select2.min.css">


	<!-- Main CSS -->
	<link rel="stylesheet" href="/Assets/panel/assets/css/auth.css">

	<script src="https://code.iconify.design/3/3.1.0/iconify.min.js"></script>

	<link rel="icon" type="image/x-icon" href="/Assets/imgs/logos/X.png">

	<!-- Toastr CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

	<meta name="author" content="Farhad Jahangirov">

	@await RenderSectionAsync("Styles", required: false)


</head>
<body>

	<!-- Main Wrapper -->
	@RenderBody()
	<!-- /Main Wrapper -->
	<!-- jQuery -->
	<script src="/Assets/panel/assets/js/jquery-3.7.1.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="/Assets/panel/assets/js/bootstrap.bundle.min.js"></script>

	<!-- Owl Carousel -->
	<script src="/Assets/panel/assets/js/owl.carousel.min.js"></script>

	<!-- Select2 JS -->
	<script src="/Assets/panel/assets/plugins/select2/js/select2.min.js"></script>

	<!-- Progress JS -->
	<script src="/Assets/panel/assets/js/circle-progress.min.js"></script>

	<!-- Custom JS -->
	<script src="/Assets/panel/assets/js/script.js"></script>

	<!-- Toastr JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>