@{
    Layout = "_WideLayout";
}

<div class="video-player-wrapper">
    <div class="video-player-row">
        <div class="video-player-container">
            <a class="button-show-modules">
                <svg-icon width="18px" height="18px">
                    <svg _ngcontent-lfl-c91="" class="align-middle" width="18px" height="18px">
                        <use _ngcontent-lfl-c91="" xlink:href="#expand-right"></use>
                    </svg>
                </svg-icon>
            </a>
            <!---->
        </div>
        <div class="course-position">
            <div class="course-outline-wrapper">
                <div class="course-flex">
                    <div class="course-outline-header">
                        <div class="course-outline-info"><a class="course-outline-title" href="/member/my-programs/75-java-selenium-sdet/courses/574-eu9-java-programming">EU9-Java Programming</a></div>
                        <div class="course-table-of-content">
                            <span class="table-of-content-line"></span>
                            <p>Table of Content</p>
                        </div>
                    </div>
                    <div class="course-outline-list">
                        <app-video-modules>
                            <!---->
                            <div class="modules-outline-wrapper">
                                <div class="module-container">
                                    <div class="module-header module-header-active">
                                        <svg-icon width="24" height="24" class="checkmark-icon">
                                            <svg _ngcontent-lfl-c91="" class="align-middle" width="24" height="24">
                                                <use _ngcontent-lfl-c91="" xlink:href="#checkmark-icon"></use>
                                            </svg>
                                        </svg-icon>
                                        <div class="module-header-title">
                                            <h1 class="vp-module-title">INTELLIJ ULTIMATE IDE INSTALLATION INSTRUCTIONS</h1>
                                        </div>
                                        <div class="module-header-action">
                                            <!---->
                                            <a>
                                                <svg-icon name="arrow-down" width="22px" height="22px">
                                                    <svg _ngcontent-lfl-c91="" class="align-middle" width="22px" height="22px">
                                                        <use _ngcontent-lfl-c91="" xlink:href="#arrow-down"></use>
                                                    </svg>
                                                </svg-icon>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="module-contents-wrapper module-contents-wrapper-open">
                                        <div class="list-content-wrapper" id="48931">
                                            <div class="">
                                                <div class="content-container">
                                                    <span>
                                                        <i class="fa-solid fa-circle-play"></i>
                                                    </span>
                                                    <!----><!----><span class="list-content-title">IntelliJ Ultimate Easy Installation SetUp for Windows-2</span>
                                                </div>
                                                <div class="label-time-info">
                                                    <i class="fa-regular fa-clock"></i>
                                                    <span>4m 54s </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-content-wrapper" id="48936">
                                            <div>
                                                <div class="content-container">
                                                    <span>
                                                        <svg-icon width="24" height="24">
                                                            <svg _ngcontent-lfl-c91="" class="align-middle" width="24" height="24">
                                                                <use _ngcontent-lfl-c91="" xlink:href="#play-icon"></use>
                                                            </svg>
                                                        </svg-icon>
                                                    </span>
                                                    <!----><!----><span class="list-content-title">IntelliJ Ultimate Easy Installation SetUp for Mac-2</span>
                                                </div>
                                                <div class="label-time-info">
                                                    <svg-icon name="time-clock-icon" width="14" height="14">
                                                        <svg _ngcontent-lfl-c91="" class="align-middle" width="14" height="14">
                                                            <use _ngcontent-lfl-c91="" xlink:href="#time-clock-icon"></use>
                                                        </svg>
                                                    </svg-icon>
                                                    <span>4m 30s </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!---->
                                    </div>
                                </div>

                                <div class="module-container">
                                    <div class="module-header">
                                        <svg-icon width="24" height="24" class="checkmark-icon">
                                            <svg class="align-middle" width="24" height="24">
                                                <use xlink:href="#checkmark-icon"></use>
                                            </svg>
                                        </svg-icon>
                                        <div class="module-header-title">
                                            <h1 class="vp-module-title">JAVA &amp; INTELLIJ IDE INSTALLATION INSTRUCTIONS</h1>
                                        </div>
                                        <div class="module-header-action">
                                            <!---->
                                            <a>
                                                <svg-icon name="arrow-down" width="22px" height="22px">
                                                    <svg class="align-middle" width="22px" height="22px">
                                                        <use xlink:href="#arrow-down"></use>
                                                    </svg>
                                                </svg-icon>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="module-contents-wrapper">
                                        <div class="list-content-wrapper" id="48935">
                                            <div>
                                                <div class="content-container">
                                                    <span>
                                                        <svg-icon width="24" height="24">
                                                            <svg class="align-middle" width="24" height="24">
                                                                <use xlink:href="#play-icon"></use>
                                                            </svg>
                                                        </svg-icon>
                                                    </span>
                                                    <!----><!----><span class="list-content-title">JDK Installation Video for Mac</span>
                                                </div>
                                                <div class="label-time-info">
                                                    <svg-icon name="time-clock-icon" width="14" height="14">
                                                        <svg class="align-middle" width="14" height="14">
                                                            <use xlink:href="#time-clock-icon"></use>
                                                        </svg>
                                                    </svg-icon>
                                                    <span>3m 24s </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-content-wrapper" id="48937">
                                            <div>
                                                <div class="content-container">
                                                    <span>
                                                        <svg-icon width="24" height="24">
                                                            <svg class="align-middle" width="24" height="24">
                                                                <use xlink:href="#play-icon"></use>
                                                            </svg>
                                                        </svg-icon>
                                                    </span>
                                                    <!----><!----><span class="list-content-title">Java Home for Mac</span>
                                                </div>
                                                <div class="label-time-info">
                                                    <svg-icon name="time-clock-icon" width="14" height="14">
                                                        <svg class="align-middle" width="14" height="14">
                                                            <use xlink:href="#time-clock-icon"></use>
                                                        </svg>
                                                    </svg-icon>
                                                    <span>4m 9s </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-content-wrapper" id="48938">
                                            <div>
                                                <div class="content-container">
                                                    <span>
                                                        <svg-icon width="24" height="24">
                                                            <svg class="align-middle" width="24" height="24">
                                                                <use xlink:href="#play-icon"></use>
                                                            </svg>
                                                        </svg-icon>
                                                    </span>
                                                    <!----><!----><span class="list-content-title">IntelliJ IDE Installation Video for Mac</span>
                                                </div>
                                                <div class="label-time-info">
                                                    <svg-icon name="time-clock-icon" width="14" height="14">
                                                        <svg class="align-middle" width="14" height="14">
                                                            <use xlink:href="#time-clock-icon"></use>
                                                        </svg>
                                                    </svg-icon>
                                                    <span>4m 36s </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-content-wrapper" id="48940">
                                            <div>
                                                <div class="content-container">
                                                    <span>
                                                        <svg-icon width="24" height="24">
                                                            <svg class="align-middle" width="24" height="24">
                                                                <use xlink:href="#play-icon"></use>
                                                            </svg>
                                                        </svg-icon>
                                                    </span>
                                                    <!----><!----><span class="list-content-title">JDK Installation Video for Windows</span>
                                                </div>
                                                <div class="label-time-info">
                                                    <svg-icon name="time-clock-icon" width="14" height="14">
                                                        <svg class="align-middle" width="14" height="14">
                                                            <use xlink:href="#time-clock-icon"></use>
                                                        </svg>
                                                    </svg-icon>
                                                    <span>3m 26s </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-content-wrapper" id="48941">
                                            <div class="content-completed">
                                                <div class="content-container">
                                                    <span>
                                                        <svg-icon width="24" height="24">
                                                            <svg class="align-middle" width="24" height="24">
                                                                <use xlink:href="#checkmark-icon"></use>
                                                            </svg>
                                                        </svg-icon>
                                                    </span>
                                                    <!----><!----><span class="list-content-title">Java Home for Windows</span>
                                                </div>
                                                <div class="label-time-info">
                                                    <svg-icon name="time-clock-icon" width="14" height="14">
                                                        <svg class="align-middle" width="14" height="14">
                                                            <use xlink:href="#time-clock-icon"></use>
                                                        </svg>
                                                    </svg-icon>
                                                    <span>5m 3s </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-content-wrapper" id="48942">
                                            <div>
                                                <div class="content-container">
                                                    <span>
                                                        <svg-icon width="24" height="24">
                                                            <svg class="align-middle" width="24" height="24">
                                                                <use xlink:href="#play-icon"></use>
                                                            </svg>
                                                        </svg-icon>
                                                    </span>
                                                    <!----><!----><span class="list-content-title">IntelliJ IDE Installation Video for Windows</span>
                                                </div>
                                                <div class="label-time-info">
                                                    <svg-icon name="time-clock-icon" width="14" height="14">
                                                        <svg class="align-middle" width="14" height="14">
                                                            <use xlink:href="#time-clock-icon"></use>
                                                        </svg>
                                                    </svg-icon>
                                                    <span>4m 36s </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list-content-wrapper" id="48943">
                                            <div>
                                                <div class="content-container">
                                                    <span>
                                                        <svg-icon width="24" height="24">
                                                            <svg class="align-middle" width="24" height="24">
                                                                <use xlink:href="#play-icon"></use>
                                                            </svg>
                                                        </svg-icon>
                                                    </span>
                                                    <!----><!----><span class="list-content-title">PowerShell Does not recognize java and javac commands</span>
                                                </div>
                                                <div class="label-time-info">
                                                    <svg-icon name="time-clock-icon" width="14" height="14">
                                                        <svg class="align-middle" width="14" height="14">
                                                            <use xlink:href="#time-clock-icon"></use>
                                                        </svg>
                                                    </svg-icon>
                                                    <span>5m 13s </span>
                                                </div>
                                            </div>
                                        </div>
                                        <!---->
                                    </div>
                                </div>

                                <!---->
                            </div>
                            <svg class="hide">
                                <symbol id="time-clock-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                    <path d="M12 20c4.4 0 8-3.6 8-8s-3.6-8-8-8s-8 3.6-8 8s3.6 8 8 8m0-18c5.5 0 10 4.5 10 10s-4.5 10-10 10S2 17.5 2 12S6.5 2 12 2m3.3 14.2L14 17l-3-5.2V7h1.5v4.4l2.8 4.8z" fill="currentColor"></path>
                                </symbol>
                                <symbol id="check-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                    <path d="M10 17l-5-5l1.41-1.42L10 14.17l7.59-7.59L19 8m-7-6A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2z" fill="currentColor"></path>
                                </symbol>
                                <symbol id="play-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                    <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10s10-4.48 10-10S17.52 2 12 2zM9.5 14.67V9.33c0-.79.88-1.27 1.54-.84l4.15 2.67a1 1 0 0 1 0 1.68l-4.15 2.67c-.66.43-1.54-.05-1.54-.84z" fill="currentColor"></path>
                                </symbol>
                                <symbol id="arrow-up-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                    <path d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6l-6 6l1.41 1.41z" fill="currentColor"></path>
                                </symbol>
                                <symbol id="arrow-down-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                    <path d="M7.41 8.58L12 13.17l4.59-4.59L18 10l-6 6l-6-6l1.41-1.42z" fill="currentColor"></path>
                                </symbol>
                                <symbol id="pause-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                    <path d="M15 16h-2V8h2m-4 8H9V8h2m1-6A10 10 0 0 0 2 12a10 10 0 0 0 10 10a10 10 0 0 0 10-10A10 10 0 0 0 12 2z" fill="currentColor"></path>
                                </symbol>
                                <symbol id="checkmark-icon" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                    <path d="M10.313 16.094a.997.997 0 0 1-.708-.293l-2.812-2.813a1 1 0 0 1 1.414-1.414l2.105 2.106l5.481-5.48a1 1 0 0 1 1.414 1.413l-6.188 6.188a.997.997 0 0 1-.707.293z" opacity=".99" fill="currentColor" class="uim-primary"></path>
                                    <path d="M12 2a10 10 0 1 0 10 10A10.011 10.011 0 0 0 12 2zm5.207 7.613l-6.188 6.188a1 1 0 0 1-1.414 0l-2.812-2.813a1 1 0 0 1 1.414-1.414l2.105 2.106l5.481-5.48a1 1 0 0 1 1.414 1.413z" opacity=".5" fill="currentColor" class="uim-tertiary"></path>
                                </symbol>
                            </svg>
                        </app-video-modules>
                        <!---->
                    </div>
                    <div class="course-copyright">
                        <div>
                        </div>
                        <p class="course-copyright-text">©2024 Codinax - All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>