@using CodinaxProjectMvc.ViewModel.PlayerVm;
@model PlayerSingleVm

@{
    Layout = "_PlayerLayout";
}

<div class="container theo-player-container">
    <video id="videoPlayer"
           class="theoplayer-container video-js theoplayer-skin theo-chromecast-unavailable theo-airplay-unavailable vjs-controls-enabled vjs-workinghover vjs-v5 vjs_video_3-dimensions vjs-has-started theo-hd vjs-paused vjs-user-inactive"
           width="640"
           height="264"
           data-setup={}
           style="display: block; width: 100%; height: 100%;">
        <source src="@Model.BaseUrl/@Model.CurrentVideo.PathOrContainer/@Model.CurrentVideo.FileName" type="video/mp4" />
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a
            web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>
</div>

@section Scripts{
    <script>
        const player = videojs('videoPlayer', {
            controls: true,
            controlBar: {
                children: [
                    'playToggle',
                    'progressControl',
                    'volumePanel',
                    'qualitySelector',
                    'playbackRateMenuButton',
                    'fullscreenToggle',
                ],
            },
            loop: true,
            fluid: false,
            playbackRates: [0.25, 0.5, 1, 1.5, 2],
            plugins: {
                hotkeys: {
                    enableModifiersForNumber: false,
                    seekStep: 30,
                },
            },
        });

        player.qualityselector({
            sources: [
                { format: 'hd1080', src: 'https://codinaxstorage.blob.core.windows.net/course-fragment-videos/video3-1.mp4', type: 'video/mp4' },
                { format: 'hd720', src: 'https://codinaxstorage.blob.core.windows.net/course-fragment-videos/video3-1.mp4', type: 'video/mp4' },
                { format: 'large', src: 'https://codinaxstorage.blob.core.windows.net/course-fragment-videos/video3-1.mp4', type: 'video/mp4' },
                { format: 'medium', src: 'https://codinaxstorage.blob.core.windows.net/course-fragment-videos/video3-1.mp4', type: 'video/mp4' },
                { format: 'small', src: 'https://codinaxstorage.blob.core.windows.net/course-fragment-videos/video3-1.mp4', type: 'video/mp4' },
                { format: 'auto', src: 'https://codinaxstorage.blob.core.windows.net/course-fragment-videos/video3-1.mp4', type: 'video/mp4' }
            ],
            formats: [
                { code: 'hd1080', name: '1080p' },
                { code: 'hd720', name: '720p' },
                { code: 'large', name: '480p' },
                { code: 'medium', name: '360p' },
                { code: 'small', name: '240p' },
                { code: 'auto', name: 'Auto' }
            ],

            onFormatSelected: function (format) {
                console.log(format);
            }
        });

    </script>
}