<nav>
    <ol class="breadcrumb p-0 my-1 mb-3">
        <li class="breadcrumb_item">
            <div class="link_breadcrumb">
                <a href="/member/dashboard">Instructor</a>
                <div class="slash">/</div>
            </div>
        </li>
        <li class="breadcrumb_item active">
            Courses
        </li>
    </ol>

</nav>

<div class="program_container">
    <div class="program_container_section">
        <div class="line"></div>

        <div class="program_container_flex">
            <div style="flex: none;">
                <div class="program_image" style="--aspect-ratio: 16/9;">
                    <img _ngcontent-lkj-c103="" draggable="false" src="https://platform-prod-images.s3.us-east-1.amazonaws.com/thumbnails/program-thumbnails/twJ5h6yvhKb4AYdD1688690693854/c7cQNAilwlhIyaSj97a4LN1di33ydoXT.png">
                </div>
            </div>
            <div class="program_info_container">
                <div class="program_info">
                    <h1 class="title_info"> Java Selenium SDET </h1>
                    <p class="description_info"> Java Selenium SDET </p>
                </div>
                <div class="program_meta_info">
                    <div class="meta_info">
                        <div class="meta_info_icon">
                            <i class="fa-regular fa-file align-middle"></i>
                        </div>
                        <div class="meta_info_text">
                            <p class="meta_title">9 Courses</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="line"></div>
    </div>
</div>

<div class="tabs__wrapper">
    <ul class="tabs__container">
        <li class="ns-tabs--tab">
            <a class="ns-tab--item ns-tab--item-active"> Courses </a>
        </li>
    </ul>
</div>

<div class="items_grid">
    <div class="course_card">
        <div class="course_card_content">
            <a title="EU9-Java Programming" href="#">
                <div class="course_card_image" style="--aspect-ratio: 16/9;">
                    <img class="object-fit-cover" src="https://platform-prod-images.s3.us-east-1.amazonaws.com/thumbnails/course-thumbnails/usmDm5pxY8RAe2zS1688690736392/egPaKxm4p5kOeTm4Wig15J3ZDMg7d3Oq_v320x180.png" alt="EU9-Java Programming">
                </div>
            </a>
            <div class="course_card_text">
                <div class="course_card_top">
                    <a class="course_card_title" title="EU9-Java Programming" href="#"> EU9-Java Programming </a>

                    <button class="button_bookmark">
                        <i class="fa-regular fa-star align-middle"></i>
                    </button>
                </div>
                <div class="course_card_bottom">
                    <div class="course_modules_info">
                        <i class="fa-solid fa-shapes align-middle"></i>
                        66 modules
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="course_card">
        <div class="course_card_content">
            <a title="EU9-Java Programming" href="#">
                <div class="course_card_image" style="--aspect-ratio: 16/9;">
                    <img class="object-fit-cover" src="https://platform-prod-images.s3.us-east-1.amazonaws.com/thumbnails/course-thumbnails/ElQnwN1oz49b55mc1688690754841/pKIlNtBs9LelQ4TOqSIwGSVsXnfPppJW_v320x180.png" alt="EU9-Java Programming">
                </div>
            </a>
            <div class="course_card_text">
                <div class="course_card_top">
                    <a class="course_card_title" title="EU9-Java Programming" href="#">  EU9-Interview Preparation </a>

                    <button class="button_bookmark">
                        <i class="fa-regular fa-star align-middle"></i>
                    </button>
                </div>
                <div class="course_card_bottom">
                    <div class="course_modules_info">
                        <i class="fa-solid fa-shapes align-middle"></i>
                        12 modules
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="course_card">
        <div class="course_card_content">
            <a title="EU9-Java Programming" href="#">
                <div class="course_card_image" style="--aspect-ratio: 16/9;">
                    <img class="object-fit-cover" src="https://platform-prod-images.s3.us-east-1.amazonaws.com/thumbnails/course-thumbnails/eRhV9Evo7XJxW4WE1688690768654/m6jcIIsErloczUisjupa3ewlbFsmgbZZ_v320x180.png" alt="EU9-Java Programming">
                </div>
            </a>
            <div class="course_card_text">
                <div class="course_card_top">
                    <a class="course_card_title" title="EU9-Java Programming" href="#">  EU9-Test Automation  </a>

                    <button class="button_bookmark">
                        <i class="fa-regular fa-star align-middle"></i>
                    </button>
                </div>
                <div class="course_card_bottom">
                    <div class="course_modules_info">
                        <i class="fa-solid fa-shapes align-middle"></i>
                        52 modules
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>