@model CourseToolsVm

@section Scripts{
    @if (TempData["CourseToolUpdated"] != null && (bool)TempData["CourseToolUpdated"] == true)
    {
        <script>
            Command: toastr["success"]("Course Tool Updated Successfull");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        </script>
    }

    @if (TempData["CourseToolCreated"] != null && (bool)TempData["CourseToolCreated"] == true)
    {
        <script>
            Command: toastr["success"]("Course Tool Created Successfull");
            toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": false,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "500",
                "timeOut": "1000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
        </script>
    }
}


<section>
    <div class="main-content">
        <div class="container mt-7">
            <!-- Table -->
            <ul class="tabs__container__between mb-5">
                <li class="ns-tabs--tab">
                    <h2 class="ns-tab--item ns-tab--item-active "> Tools  </h2>
                </li>
                <li class="ns-tabs--tab">
                    <a class="ns-tab--item ns-tab--item--button" href="/Admin/Template/CreateTool/@Model.TemplateId"> + Add Tool </a>
                </li>
            </ul>
        </div>
        <div class="row">

            <div class="col">
                <div class="card shadow">
                    <div class="card-header border-0">
                        <div class="row">
                            <div class="col-6">
                                <div class="add-course-info">
                                    <div class="input-block">
                                        <input type="text" class="form-control" placeholder="Tool Name"
                                               id="tool-name-input" oninput="filterSearch()">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="categoriesContainer">
                        <partial name="CourseToolsPartial" model="@Model">
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
